<!DOCTYPE html>
<html>

<head>
  <title>
    <%= section1 %>
  </title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
  <link rel='stylesheet' href='/public/stylesheets/korea.css' />
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script defer type="module" src="/public/javascripts/main.js"></script>
</head>

<body>
  <h1>
    <%= section1 %>
  </h1>
  <p>Welcome to <%= section1 %>
  </p>
  <div id="container"></div>
  <div id="local_weather"></div>
</body>

</html>