@charset "UTF-8";
@font-face {
	font-family: "Jua-Regular";
	src: url("/public/font/Jua-Regular.woff") format("woff");
}
* {
	font-family: "Jua-Regular";
}

body {
	padding: 50px;
}

footer {
	padding:20px;
	text-align: center;
}

span {
	padding: 5px;
}

#container {
	width: 500px;
	min-height: 500px;
	float: left;
	margin: 15px 35px;
}

#local_weather {
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    position: absolute;
}

.map-layer path {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 1.5px;
}

.map-layer path:hover {
	fill: #009300;
}

.map-layer .active {
	fill: #00B700;
}

.map-layer .activeDetail {
	fill: #00B700;
}

.map-layer path {
	cursor: pointer;
}

.map-layer text {
	cursor: pointer;
	font-size: 12px;
	fill: #fff;
}
.weather_now{
	display: flex;
	font-size: xx-large;
}

.weather_today{
	display: flex;
	align-items: center;
}

.weather_today_box {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: large;
	margin: auto;
}