<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3><%=title%></h3>
<form action="/" method="get">
    <table>
        <tr>
            <td><input type="submit" value="로그인 화면으로"></td>
        </tr>
    </table>
</form>

</body>
</html>